<!DOCTYPE html>
<html>
	<head>
		<title>Test Page</title>
		<link rel="icon" type="image/png" href="/static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
	</head>
	<body>
		<form action="/" method="post">
			<input type="hidden" name="csrf_token" value="$csrf_token()" />
			<fieldset>
				<legend>Login</legend>
				<table>
					<tr>
						<td>Username:</td>
						<td><input type="text" name="username" placeholder="Enter username" autofocus /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" placeholder="Enter password" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Login" /></td>
					</tr>
				</table>
			</fieldset>
		</form>
		<p>Or <a href="/register">Click here to register</a></p>
	</body>
</html>
