<!DOCTYPE html>
<html>
	<head>
		<title>Test Page</title>
		<link rel="icon" type="image/png" href="/static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/register.css" />
	</head>
	<body>
		<form action="/register" method="post">
			<fieldset>
				<legend>Register</legend>
				<table>
					<tr>
						<td>Username:</td>
						<td><input type="text" name="username" placeholder="Enter username" autofocus /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" placeholder="Enter password" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Register" /></td>
					</tr>
				</table>
			</fieldset>
		</form>
	</body>
</html>
